.login{
	background-color: #ecf0f1;
}

.container
{ 
}

.footer
{
	   position: fixed;
     bottom: 0;
  	height: 6vh;
}


.mainstream{
  padding: 0;
  margin:0;
  height: 80vh ; 
  width: 100vw;
  background-color: red;
}

.ui.segment.pushable
{
	background-color: #ecf0f1;
	height: 94vh;

}

.ui.segment.pushable:hover sidebaricons
{

}

.ui.divided.three.column.grid{

	background-color: #ecf0f1;
	height: 6vh;
}

.ui.input
{

	width: 100%;
}


.ui.input.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
    cursor: pointer;
}


.item:hover{
  border:solid 2px red;

}


.playing:hover{
  color: red;
}