


.buttonA {
  position: absolute;
  left:10px;
  top:10px;
  
}


.tabs{
  margin-left: 0px;
  margin-right: 0px; 
  width:100vw;
}



.player
{
  height: 60vh ; 
  width:100vw;
  padding: 0;
}
.admin-grids{
  margin-top:200px;
}

.admincard{
  margin-left: 400px;
}

body{
  padding:0;

}

#root{
  height: 90vh;

}


.profileinfo{
  background-color: #ecf0f1;
  margin: 200px 300px 200px ;
}

.footer{
  height: .1vh;
  margin: 0;

}

.youtube{
  margin-left: 24vw;
  margin-top: 10vh;
}

.yplayer{
  height: 100vh;
  overflow: scroll;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



