.App {
  text-align: center;
  padding: 0;
  height: 92.4vh;
  background-color: blue;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.buttonA {
  position: absolute;
  left:10px;
  top:10px;
  
}


.tabs{
  margin-left: 0px;
  margin-right: 0px; 
  width:100vw;
}

.mainstream{
  padding: 0;
  margin:0;
  height: 80vh ; 
  width: 100vw;
}

.player
{
  height: 60vh ; 
  width:100vw;
  padding: 0;
}

body{
  padding:0;

}

#root{
  height: 90vh;

}

.profileinfo{
  background-color: #ecf0f1;
  margin: 200px 300px 200px ;
}

.footer{
  height: .1vh;
  margin: 0;

}

.youtube{
  margin-left: 24vw;
  margin-top: 10vh;
}

.yplayer{
  height: 100vh;
  overflow: scroll;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



